DataSets/Music-Mouv
DataSets/Emotify
DataSets/MuVi
DataSets/Trompa-Mer
DataSets/SpotifyMetaToGems.csv
SpotifyToSpectrogram/SpotifyCreds.py
SpotifyToSpectrogram/__pycache__
SpotifyToSpectrogram/.cache
SpotifyToMeta/.cache
SpotifyToSpectrogram/*.mp3
SpotifyToSpectrogram/audio
SpotifyToSpectrogram/img
.cache