DataSets/
DataSets/Music-Mouv/music-mouv
DataSets/Emotify
DataSets/MuVi/media_data.csv
SpotifyToSpectrogram/SpotifyCreds.py
SpotifyToSpectrogram/__pycache__
SpotifyToSpectrogram/.cache
SpotifyToMeta/.cache
SpotifyToSpectrogram/*.mp3